.cards {
	display: grid;
	gap: 2rem;
	margin: 2rem 0 4rem;

	@media screen and (min-width: 769px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: 1201px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
