<div class="menu" [class.active]="isActive">
	<app-layout>
		<div class="menu__container">
			<button
				class="menu__container__btn menu__container__btn--open"
				[class.open]="isActive"
				(click)="toggleMenu()"
			>
				<div class="menu__container__btn--open__bar"></div>
			</button>
			<div>
				<a href="https://github.com/mostro-dev/ux-test" target="_blank">
					<img src="../../assets/imgs/logo_main.svg" alt="Airline to the people" />
				</a>
			</div>
			<button class="menu__container__btn menu__container__btn--global">
				<img src="../../assets/imgs/menu-bar/logo_language.svg" alt="Language" />
			</button>
		</div>
	</app-layout>
	<div class="menu__content">
		<app-layout>
			<ul class="menu__content__list">
				<li
					class="menu__content__list__item"
					[ngClass]="{
						selected: selectedMenuItem === 0 && selectedMenuItem !== null,
						hide: selectedMenuItem !== 0 && selectedMenuItem !== null
					}"
				>
					<app-typography variant="h4" [weight]="getTypographyWeight(0)" (click)="selectMenuItem(0)"
						>Check-in
					</app-typography>
					<ng-container *ngIf="selectedMenuItem === 0">
						<ul class="menu__content__list__item__list">
							<li><app-typography variant="h6">My Orders</app-typography></li>
							<li><app-typography variant="h6">Check-in</app-typography></li>
						</ul>
					</ng-container>
				</li>
				<li
					class="menu__content__list__item"
					[ngClass]="{
						selected: selectedMenuItem === 1 && selectedMenuItem !== null,
						hide: selectedMenuItem !== 1 && selectedMenuItem !== null
					}"
				>
					<app-typography variant="h4" [weight]="getTypographyWeight(1)" (click)="selectMenuItem(1)"
						>Manage my booking</app-typography
					>
					<ng-container *ngIf="selectedMenuItem === 1">
						<ul class="menu__content__list__item__list">
							<li><app-typography variant="h6">My booking</app-typography></li>
						</ul>
					</ng-container>
				</li>
				<li
					class="menu__content__list__item"
					[ngClass]="{
						selected: selectedMenuItem === 2 && selectedMenuItem !== null,
						hide: selectedMenuItem !== 2 && selectedMenuItem !== null
					}"
				>
					<app-typography variant="h4" [weight]="getTypographyWeight(2)" (click)="selectMenuItem(2)"
						>Information</app-typography
					>
					<ng-container *ngIf="selectedMenuItem === 2">
						<ul class="menu__content__list__item__list">
							<li><app-typography variant="h6">Help Center</app-typography></li>
							<li><app-typography variant="h6">Flight state</app-typography></li>
							<li><app-typography variant="h6">Airplanes</app-typography></li>
							<li><app-typography variant="h6">Routes</app-typography></li>
						</ul>
					</ng-container>
				</li>
			</ul>
		</app-layout>
	</div>
</div>
